@import "tailwindcss";

/* Colores personalizados */
@theme {
  --color-primary: #6EC1E4;
  --color-secondary: #206A8E;
  --color-background: #F2F4F8;
  --color-text: #2C2C2C;
  --color-accent: #A8D8EA;
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}